<div class="ingredient-selector">
  <div>
    <div class="title">Select your Ingredients</div>
    <div class="category-wrapper">
      <div class="line"></div>
      <div class="content">ingredient category</div>
    </div>
    <!-- Categories -->
    <div class="categories" [class.expanded]="showAllCategories">
      <div class="cat-buttons">
        <button *ngFor="let cat of categories" [class.active]="cat === selectedCategory" (click)="selectCategory(cat)">
          {{ cat }}
        </button>
      </div>
    </div>
    <button class="more-categories-btn" (click)="toggleCategories()">
      {{ showAllCategories ? 'Show less' : 'More' }}

      <ion-icon [name]="showAllCategories
      ? 'chevron-up-outline'
      : 'chevron-down-outline'"></ion-icon>
    </button>

    <!-- Search Bar -->
    <app-ingredients-search (searchChange)="onSearchChange($event)"
      (searchedItemClicked)="selectedSearchedItem($event)">
    </app-ingredients-search>

    <!-- Ingredients grid -->
    <div class="ingredients">
      <div *ngFor="let ing of groupedIngredients[selectedCategory]" class="ingredient-card">
        <div class="image-wrapper">
          <img [src]="ing.image" [alt]="ing.name">
          <ion-icon class="plus-btn" (click)="addIngredient(ing)" name="add-circle"></ion-icon>
        </div>
        <div class="name">{{ ing.name }}</div>
      </div>
    </div>
    <!-- Meat parts modal -->
    <div class="part-modal" *ngIf="selectedPart">
      <button class="close-btn" (click)="cancelPartSelection()">✕</button>
      <div class="title">Which Part of {{ selectedPart.name }} do you have?</div>
      <div class="parts-grid">
        <div *ngFor="let part of selectedPart.parts" (click)="addIngredientPartToCart(part)" class="part-card">
          <img [src]="part.image" [alt]="part.name">
          <div class="name">{{ part.name }}</div>
        </div>
      </div>
      <button class="cancel-btn" (click)="cancelPartSelection()">Back</button>
    </div>
  </div>

  <!-- Selected Ingredients - desktop -->
  <div class="cart">
    <app-selected-ingredient-panel></app-selected-ingredient-panel>
  </div>
</div>