<div class="footer-container">
  <div class="footer-content">
    <div class="brand-info">
      <img [src]="logo" alt="Bester Logo" class="brand-logo" />
      <div class="description">Rabo Bester Pad Chemical Industries is a manufacturer of various industrial, construction, and general-purpose adhesives using German technology. This company offers its products under different brands to global markets.</div>
    </div>
    <div class="contact-info">
      <h3>contact.us</h3>
      <div class="tel"><strong>tel</strong></div>
      <div class="insta"><strong>insta</strong></div>
      <div class="email"><strong>email</strong></div>
      <div class="web"><strong>web</strong> <a href="https://www.besterchemic.com">web</a></div>
    </div>
  </div>
  <div class="copy-right">copyright</div>  
  <div class="developed-by">
    <a href="mailto:amir.d51@gmail.com">
      developed.by
    </a>
  </div>
</div>
