<div class="footer-container">
  <div class="footer-content">
    <div class="brand-info">
      <img [src]="logo" alt="Bester Logo" class="brand-logo" />
      <div class="description">CookIt helps you turn ingredients into inspiration. Find international recipes based on what’s in your kitchen and filter them your way — from vegan and low-carb to cheesy comfort food or indulgent fast meals.</div>
    </div>
    <div class="contact-info">
      <h3>contact.us</h3>
      <div class="tel"><strong>tel: +49123456789</strong></div>
      <div class="insta"><strong>insta: @cookit</strong></div>
      <div class="email"><strong>email: cookit@gmail.com</strong></div>
      <!-- <div class="web"><strong>web: www.cookit.com</strong> <a href="https://www.google.com">web</a></div> -->
    </div>
  </div>
  <div class="copy-right">© 2026 CookIt. All rights reserved.</div>  
  <div class="developed-by">
    <a href="mailto:amir.d51@gmail.com">
      <span>Developed by</span>
      <ion-icon name="person-outline"></ion-icon>
    </a>
  </div>
</div>
