.sub-fields {
  --ion-color-step-700: green;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  justify-content: space-between;
  border: 1px solid grey;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;

  ion-item {
    width: 100%;
  }

  .button {
    height: 32px;
  }
}