// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

// General
$MAX-WIDTH-RESPONSIVE: 768px;
$MIN-WIDTH-RESPONSIVE: 769px;
$MIN-WIDTH-RESPONSIVE-BIG-SCREEN: 1200px;
$BACKGROUND: rgb(251, 249, 245);
$GREEN: rgb(45, 166, 78);

// Home Page
$HOME-PAGE-SIDE_PADDING: 10vw;
$HOME-PAGE-SIDE_PADDING_MOBILE: 20px;
$HOME-PAGE-TITLE-COLOR: rgb(75, 75, 74);
$HOME-PAGE-DEMO-BUTTON-BGCOLOR: rgb(92, 184, 74);

// footer
$FOOTER-BG: rgb(39,39,39);
$FOOTER-TEXT-COLOR: white;

// ingredients selector
$ING-SELECTOR-BG: rgb(241,242,247);
$ING-SELECTOR-LINE-COLOR: rgb(229, 230, 236);
$ING-SELECTOR-SUBTITLE-TEXT-COLOR: rgb(81, 86, 97);
$ING-SELECTOR-NAME-TEXT-COLOR: rgb(88, 91, 96);
$ING-SELECTOR-NAME-BG: rgb(244, 246, 248);

// header buttons - slider 
$header-background: rgba(100, 140, 160, 0.3); //rgba(197, 195, 195, 0.691);
$header-desktop-height: 80px;
$header-mobile-height: 48px;
$header-button-color: rgb(255, 255, 255);
$header-button-hover-color: rgb(247, 188, 47);