@use '../../../theme/variables.scss' as *;

/* =========================
   Reusable Placeholders
========================= */
%card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

%section-title {
  display: flex;
  flex-direction: row;
  padding: 10px 5px 10px 15px;
  color: $ING-SELECTOR-TITLE-COLOR;
}

%name-block {
  padding: 0.5rem 0;
  color: $ING-SELECTOR-NAME-TEXT-COLOR;
  font-weight: bold;
  font-size: 0.9rem;
  background: $ING-SELECTOR-NAME-BG;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* =========================
   Cart Column Desktop View
========================= */
.cart {
  @extend %card;
  height: 100%;
  min-height: 300px;

  @media (max-width: $MAX-WIDTH-RESPONSIVE) {
    display: none;
  }

  .title {
    @extend %section-title;
    display: flex;
    align-items: center;

    .text {
      font-size: 1.5rem;
      text-align: start;
      font-weight: 700;
      padding-inline-end: 5px;
      line-height: 1;
      margin: 0;
    }

    .counter {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      height: 24px;
      padding: 0 6px;
      border-radius: 999px;
      background-color: $ING-SELECTOR-COUNTER-COLOR;
      color: $ING-SELECTOR-BG;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
    }
  }

  .line {
    width: 95%;
    height: 1px;
    background: $ING-SELECTOR-LINE-COLOR;
    margin-inline-start: 5px;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    img {
      width: 50px;
      height: 40px;
      object-fit: contain;
      padding: 5px 5px 5px 15px;
    }

    .name {
      @extend %name-block;
    }
  }
}


/* =========================
   Cart Row Mobile View
========================= */
.cart-row-mobile {
  background-color: white;
  border-radius: 8px;
  text-align: center;

  @media (min-width: $MIN-WIDTH-RESPONSIVE) {
    // desktop view
    display: none;
  }

  .title {
    color: $ING-SELECTOR-TITLE-COLOR;
    padding-bottom: 0;
    white-space: nowrap;
    font-size: 5vw;
  }

  .desc {
    padding: 10px 20px;
    color: grey;
    font-size: 12px;
  }

  .icon-col {
    display: flex;
    justify-content: center;
    align-items: center;

    .cart-wrapper {
      position: relative;
      display: inline-block;

      .cart-icon {
        font-size: 48px;
      }

      .cart-badge {
        position: absolute;
        top: -6px;
        right: -8px;
        font-size: 10px;
        padding: 3px 6px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .segment-mobile {
    width: 100%;
  }
}