@use '../../../theme/variables.scss' as *;

ion-searchbar {
  --background: white;
  --border-radius: 14px;
  --box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  --color: $ING-SELECTOR-SUBTITLE-TEXT-COLOR;
}